:root {
    --primary-font: "Lato", Arial, Helvetica, sans-serif;
    --secondary-font: "YesevaOne", serif;

    --btn-primary: 255, 255, 255;
    --btn-secondary: 0, 0, 0;


    --highlight-color: 203, 153, 0;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
}

.theme-margin {
    margin-bottom: 1rem;
}

.banner h2 {
    font-family: var(--secondary-font);
    color: rgba(255, 255, 255, 1);

    font-size: 40px;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .banner h2 {
        font-size: 60px;
    }
}

/* Buttons */

/* Black Primary */
.btn-primary {
    background-color: rgba(var(--btn-secondary), 0.7);
    color: rgba(var(--btn-primary), 1);
    border-color: rgba(var(--btn-secondary), 1);
}

.btn-primary:hover {
    background-color: rgba(var(--btn-secondary), 0.5);
    color: rgba(var(--btn-primary), 0.8);
    border-color: rgba(var(--btn-secondary), 0.8);
}

/* White Secondary */
.btn-secondary {
    background-color: rgba(var(--btn-primary), 0.28);
    color: rgba(var(--btn-primary), 1);
    border-color: rgba(var(--btn-primary), 1);
}

.btn-secondary:hover {
    background-color: rgba(var(--btn-primary), 0.18);
    color: rgba(var(--btn-primary), 0.8);
    border-color: rgba(var(--btn-primary), 0.8);
}

h3 {
    font-family: var(--secondary-font);
    color: rgba(var(--highlight-color), 1);
}

.l-ingredients .content {
    background-color: rgba(var(--btn-secondary), 0.5);
    border-color: rgba(var(--btn-secondary), 1);
    color: rgba(var(--btn-primary), 1);
}

.ingredients-list img {
    border-color: rgba(var(--btn-primary), 0.5);
}

.menu-item-list {
    font-family: var(--secondary-font);
    color: rgba(var(--highlight-color), 1);
}

.menu-block-item {
    font-family: var(--secondary-font);
    color: rgba(var(--highlight-color), 1);
}

.menu-block-item p {
    font-family: var(--primary-font);
    color: rgba(var(--btn-secondary), 1);
}

.on-special:after {
    color: white;
    background-color: rgba(var(--highlight-color), 1);
    content: "Special"
}

.l-quote .content {
    background-color: rgba(var(--btn-secondary), 0.5);
    border-color: rgba(var(--btn-secondary), 1);
    color: rgba(var(--btn-primary), 1);
}

.l-quote blockquote:after {
    font-family: var(--secondary-font);
    color: grey;
}

footer {
    font-family: var(--primary-font);
    color: rgba(var(--btn-primary), 1);
    text-align: center;
}

footer p {
    font-size: 14px;
    line-height: 1.5rem;

}

footer h4 {
    font-family: var(--secondary-font);
}
@media screen and (min-width: 860px) {
    #menu {
        border: none;
    }
    #menu a {
        font-family: var(--secondary-font);
        text-decoration: none;
    }

    #menu a:hover {
        background: none;
        color: rgba(var(--btn-primary), 0.5);
    }
}